body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  /*color: #000000;*/
  color: #283136;
  font-weight: : normal;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.contact-us {
  display: block;
}

.main-header-logo {
  width: 160px;
  height: 65px;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.main-navigation {
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation {
  list-style: none;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
	align-items: center;
	align-content: center;
  list-style-type: none;
  width: 445px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  list-style: none;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  list-style-type: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #000000;
}

.features-list {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  list-style-type: none;
}

.feature-item {
  text-align: left;
}

.web-sites h3 {

  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;

}

.info1 {

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.apps h3 {

  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;

}

.info2 {

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.presentations h3 {

  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;

}

.info3 {

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.main-footer {
  color: #000000;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.social-button {
  color: #000000;
}

fieldset {
  border: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visuaaly-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  display: none;
}


.friendship h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  color: #000000;
}

.us h2 {

  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  color: #000000;
}

.template {
  background-color: #eeeeee;
}

.friends-list {
  text-align: center;
  display: flex;
  list-style-type: none;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.our-work {
  list-style-type: none;
}

.net {
  list-style-type: none;
}

.form label {
  color: #283136;
}

.qualities {
  list-style-type: none;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.browser {
  object-fit: contain;
}
