body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.contact-us {
  display: none;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  object-fit: contain;
}

.main-navigation {
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  width: 74px;
  height: 13px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #000000;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.feature-item1 {
  text-align: left;
}

.web-sites h3 {
  width: 135px;
  height: 23px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.info1 {
  width: 238px;
  height: 41px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.feature-item2 {
  text-align: left;
}

.apps h3 {
  width: 166px;
  height: 19px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.info2 {
  width: 239px;
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.feature-item3 {
  text-align: left;
}

.presentations h3 {
  width: 171px;
  height: 22px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.info3 {
  width: 213px;
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 1.25;
}

.main-footer {
  color: #000000;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

fieldset {
  border: 0;
}

.visually-hidden {
  display: none;
}

.friendship h2 {
  width: 545px;
  height: 35px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
}

.us h2 {
  width: 545px;
  height: 35px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
}
