body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #283136;
  font-weight: normal;
  min-width: 1200px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.contact-us {
  display: block;
}

.main-header {
  background-color: #eeeeee;
  color: #000000;
  padding-top: 50px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation {
  display: flex;
  min-width: 440px;
  margin-left: 200px;
  min-width: 490px;
  background-color: #eeeeee;

}

.site-navigation li {
  display: inline-block;
  margin-right: 45px;
}

.site-navigation ul {
  padding-left: 0;
  margin-top: 26px;
}

.site-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.user-navigation {
  position: relative;
  margin-left: 235px;
  margin-top: 26px;
  background-color: #eeeeee;
  list-style-type: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: normal;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation a:hover {
  color: #fb565a;
  text-transform: uppercase;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.cart:hover {
  color: #fb565a;
  text-transform: uppercase;
}

.cart:active {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.site-navigation .site-navigation-active {
  line-height: 13px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.site-navigation-active {
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.main-slider {
  background-color: #eeeeee;
}

.container {
  position: relative;
  height: 310px;
}

.container input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  postion: absolute;
  bottom:95px;
  left:50%;
  width:200px;
  height:10px;
  margin-left:-100px;
  text-align:center;
  z-index:1000;
}

.slider-controls label {
  display:inline-block;
  width:4px;
  height:4px;
  margin:0 3px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}

.slide clearfix {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.slide-content {
  width:380px;
  padding:30px 0;
  color:#283136;
}

.slide-slogan {
  font-size:36px;
  line-height:1;
  font-weight:bold;
  color:black;
}

.slide:nth-child(1) {
    background-image:url('img/slide-picture1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(2){
    background-image:url('img/slide-picture2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(3){
    background-image:url('img/slide-picture3.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.seemore {
  width: 240px;
  height: 50px;
  margin-top:25px;
  background-color: #fb565a;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.seemore:hover {
  width: 240px;
  height: 50px;
  background-color: #e74246;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.seemore:active {
  width: 240px;
  height: 50px;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  opacity: : 0.3;
}

.features-list a {
  display: block;
  width: 160px;
  height: 50px;
  padding: 10px 0;
  margin-top: 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.purchase1 {
  width: 160px;
  height: 50px;
  background-color: #fb565a;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.purchase1:hover {
  width: 160px;
  height: 50px;
  background-color: #e74246;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.purchase1:active {
  width: 160px;
  height: 50px;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.purchase2 {
  width: 160px;
  height: 50px;
  background-color: #00ca74;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.purchase2:hover {
  width: 160px;
  height: 50px;
  background-color: #00bc6c;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.purchase2:active {
  width: 160px;
  height: 50px;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.purchase3 {
  width: 160px;
  height: 50px;
  background-color: #efc84a;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.purchase3:hover {
  width: 160px;
  height: 50px;
  background-color: #eab534;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.purchase3:active {
  width: 160px;
  height: 50px;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;\
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.features {
  padding: 80px 0;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  list-style-type: none;
}

.feature-item {
  text-align: left;
  width: 300px;
  margin-right: 100px;
}

.web-sites h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
}

.info {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.apps h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
}

.presentations h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.main-footer {
  color: #000000;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.social-button {
  color: #000000;
}

.social-button {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.vk-icon {
  width: 26px;
  height: 15px;
}

fieldset {
  border: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visuaaly-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  display: none;
}

.friendship {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  color: #000000;
}

.us h2 {
  letter-spacing: normal;
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.template {
  background-color: #eeeeee;
}

.friends-list {
  text-align: center;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.our-work {
  list-style-type: none;
}

.net {
  list-style-type: none;
  margin-bottom: 43px;
}

.net label {
  display: block;
}

.form label {
  color: #283136;
}

.qualities {
  list-style-type: none;
  margin-bottom: 43px;
}

.qualities label {
  display: block;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.gallery-item:hover .browser {
  background: url("img/png-nerds/browser.png");
  width: 360px;
  height: 40px;
}

.browser {
  background: url("img/png-nerds/browser.png");
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.main-footer {
  padding: 80px 0;
}
